.add-transaction-btn {
  bottom: 81px !important;
  right: 16px !important;
}
@media (min-width: 768px) {
  .add-transaction-btn {
    bottom: 16px !important;
    right: 16px !important;
  }
}



.show-on-mobile {
  display: none;
}
@media (max-width: 768px) {
  .show-on-mobile {
    display: block;
  }
}



.transaction-card {
  transition: background 0.18s;
}
.transaction-card:hover {
  background: var(--accent-3);
}
